*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
:root {
    --pc: #ffaf03;
    --sc: #1c1c1c;
    --dc: #121212;
    --lc: #ffffff;
    --gh: #E07A5F
}
body{
    background-color: var(--dc);
    color: var(--lc);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 32px;
    background-color: #1c1c1c;
}
header .right {
        display: flex;
        align-items: center;
        gap: 24px;
}
header .lift {
        display: flex;
        align-items: center;
        gap: 24px;
        font-size: 14px;
}
.btn {
    background-color: var(--pc);
    border-radius: 5px;
    padding: 4px 10px;
    color: var(--lc);
    text-decoration: none;
    border: none;
    cursor: pointer;
}
.logo{
    font-size: 25px;
    font-weight: bold;

}
nav{
    gap: 20px;  
    display: flex;
    align-items: center;
    padding: 10px 32px; 
     background-color: #1c1c1c;

}
.search-bar {
    flex-grow: 1;
}
.search-bar input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
  }